<html>
  <head>
    <%- include('./partials/head'); -%>  
  </head>
  <body >
    <%- include('./partials/header'); -%>  
    <div  id="blog">
      <h1>Blog Entires</h1>
      <% for (post of posts) { %>
        <a href="/<%= post.slice(0, -3) %>">
          <div class="post">
            <%= post.toUpperCase().slice(0, -3) %>   
          </div>
          </a>
      <% } %>
     
    </div>
    <%- include('./partials/footer'); -%> 
  </body>
</html>